* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
}

.added-todo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.state-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}